---
layout: banner
title: Homepage
---

<!-- tags -->
<ul class="ty-tags">
  {% for tag in site.tags %}
  <li>
    <span id="tag-{{ tag | first }}" class="round button tiny">{{ tag | first }}</span>
  </li>
  {% endfor %}
</ul>

<!-- posts -->
<div class="content">
  <div class="related">
    <ul>
      {% for post in site.posts %}
      <li>
        <span class="ty-post-timestamp">{{ post.date | date: "%b %e, %Y" }}</span> 
        <a class="ty-post-title" href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
