---
layout: base
---

<!-- banner -->
<div class="ty-banner">
  <div class="row">
    <!-- this is carousel -->
    <ul class="example-orbit-content" data-orbit>
      <li data-orbit-slide="headline-1">
        <div class="ty-carousel ty-terminal">
          <div class="ty-terminal-inner">
            <h3>Hello, World!</h3>
            <p>
            Linux Login: tycheng<br>
            UNIX Password:
            </p>
            <p>~$ <span id="whoami"></span></p>
          </div>
        </div>
      </li>
      <!-- <li data&#45;orbit&#45;slide="headline&#45;2"> -->
      <!--   <div class="ty&#45;carousel"> -->
      <!--     <!&#45;&#45; <h3>Subheadline</h3> &#45;&#45;> -->
      <!--  -->
      <!--       <div class="ty&#45;banner&#45;images">  -->
      <!--         <ul> -->
      <!--           <li class="circle&#45;wrapper&#45;3"><img src="../img/me/me.jpg" class="circle&#45;icon"/></li>  -->
      <!--           <li class="circle&#45;wrapper&#45;3"><img src="../img/me/me.jpg" class="circle&#45;icon"/></li>  -->
      <!--           <li class="circle&#45;wrapper&#45;3"><img src="../img/me/me.jpg" class="circle&#45;icon"/></li>  -->
      <!--         </ul> -->
      <!--       </div> -->
      <!--  -->
      <!--       <div class="ty&#45;banner&#45;images" style="width: 60%;">  -->
      <!--         <ul> -->
      <!--           <li class="circle&#45;wrapper&#45;2"><img src="../img/me/me.jpg" class="circle&#45;icon"/></li>  -->
      <!--           <li class="circle&#45;wrapper&#45;2"><img src="../img/me/me.jpg" class="circle&#45;icon"/></li>  -->
      <!--         </ul> -->
      <!--       </div> -->
      <!--   </div> -->
      <!-- </li> -->

    </ul>
  </div>
</div>
<br><br>
<!-- banner end -->

<!-- =============================== -->
<div class="row ty-main">
  <div class="large-12 columns">
    <section>
      {{ content }}
    </section>
  </div>
</div>
<!-- =============================== -->
