<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Tianyu Cheng" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tianyu Cheng | {{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/vendor/modernizr.js"></script>
  </head>

  <body>
    <!-- navigation top-bar -->
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="#">
              TIANYU CHENG
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>
      <section class="top-bar-section ty-titlemenu">
        <ul class="left">
          <li><a href="/index.html">Portfolio</a></li>
          <li><a href="/courses.html">Courses</a></li>
          <li><a href="/projects.html">Projects</a></li>
        </ul>
        <ul class="right">
          <li class="search">
            <form id="search-form" action="/search.html" method="get">
              <input type="search" id="search-query" name="q" placeholder="Hello World" autocomplete="on">
            </form>
          </li>
          <li class="has-button">
            <a class="small button" href="#" onclick="document.getElementById('search-form').submit()">Search</a>
          </li>
          <li style="height:0px;">&nbsp;</li>
        </ul>
      </section>
    </nav>
    <!-- navigation top-bar ends -->


    <!-- no constraints -->
    <!-- =============================== -->
    {{ content }}
    <!-- =============================== -->

    <!-- footer -->
    <footer class="row">
      <div class="large-12 columns">
        <hr>
        <div class="row">
          <div class="large-12 columns">
            <p class="text-center">Copyright © Tianyu Cheng, 2017</p>
          </div>
        </div>
      </div>
    </footer>

  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/typed.js"></script>
  <script>
    $(document).foundation();
    $(function(){
        $("#whoami").typed({
          strings: [
            "whoami^1000<br>" +
            " &emsp;Hello, my name is Tianyu Cheng, a programmar from Zhejiang, China.^1000<br>" +
            " &emsp;I am currently a student in the University of Texas at Austin, majoring in Computer Science and Mathematics.^1000<br>" + 
            " &emsp;My interests mainly focus on computer graphics, computer vision, and web development.^1000<br>" + 
            " &emsp;For more information, please visit my portfolio below, or my project page."
          ],
            typeSpeed: 20
        });
    });
  </script>

  <script type="text/javascript">
    $(function() {
      $('#search-query').lunrSearch({
        indexUrl: '/js/index.json',   // Url for the .json file containing search index data
        results : '#search-results',  // selector for containing search results element
        entries : '.entries',         // selector for search entries containing element (contained within results above)
        template: '#search-results-template'  // selector for Mustache.js template
      });
    });
  </script>
  </body>
</html>
