---
layout: base
---

<!-- banner -->
<div class="ty-banner">
  <div class="row">
    <!-- this is carousel -->
    <ul class="example-orbit-content" data-orbit>
      <li data-orbit-slide="headline-1">
        <div class="ty-carousel ty-terminal">
          <div class="ty-terminal-inner">
            <p>
              UNIX Login: Tianyu Cheng<br>
              UNIX Password:
            </p>
            <p>~$ <span id="whoami"></span></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<br><br>
<!-- banner end -->

<!-- =============================== -->
<div class="ty-main">
    {{ content }}
</div>
<!-- =============================== -->
