<!DOCTYPE HTML>

<!-- <html> -->
<!--   <head> -->
<!--     <meta http&#45;equiv="Content&#45;Type" content="text/html; charset=UTF&#45;8" /> -->
<!--     <meta name="author" content="Tianyu Cheng" /> -->
<!--     <title>Tianyu Cheng | {{ page.title }}</title> -->
<!--   </head> -->
<!--   <body> -->
<!--     <header> -->
<!--       <h1><a href="/">{{ page.title }}</a></h1> -->
<!--     </header> -->
<!--     <section> -->
<!--       {{ content }} -->
<!--     </section> -->
<!--   </body> -->
<!-- </html> -->


<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Tianyu Cheng" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tianyu Cheng | {{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>

  <body>
    <!-- navigation top-bar -->
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="#">
              TIANYU CHENG
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>
      <section class="top-bar-section ty-titlemenu">
        <ul class="left">
          <li><a href="#">Homepage</a></li>
          <li><a href="#">Projects</a></li>
        </ul>
        <ul class="right">
          <li class="search">
            <form>
              <input type="search" placeholder="Type Here...">
            </form>
          </li>
          <li class="has-button">
            <a class="small button" href="#">Search</a>
          </li>
          <li style="height:0px;">&nbsp;</li>
        </ul>
      </section>
    </nav>
    <!-- navigation top-bar ends -->

    <!-- banner -->
    <div class="ty-banner">
      <div class="row">
        <ul class="example-orbit-content" data-orbit>
          <li data-orbit-slide="headline-1">
            <div class="ty-carousel ty-terminal">
              <div class="ty-terminal-inner">
                <h3>Hello, World!</h3>
                <p>
                  Linux Login: tycheng<br>
                  UNIX Password:
                </p>
                <p>~$ <span id="whoami"></span></p>
              </div>
            </div>
          </li>
          <li data-orbit-slide="headline-2">
            <div class="ty-carousel">
              <h2>Headline 2</h2>
              <h3>Subheadline</h3>
            </div>
          </li>
          <li data-orbit-slide="headline-3">
            <div class="ty-carousel">
              <h2>Headline 3</h2>
              <h3>Subheadline</h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <br><br>
    <!-- banner end -->

    <!-- =============================== -->
    <div class="row ty-main">
      <div class="large-12 columns">
        <section>
          {{ content }}
        </section>
      </div>
    </div>
    <!-- =============================== -->

    <!-- footer -->
    <footer class="row">
      <div class="large-12 columns">
        <hr>
        <div class="row">
          <div class="large-3 columns large-centered">
            <p>Copyright © Tianyu Cheng</p>
          </div>
        </div>
      </div>
    </footer>


  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/typed.js"></script>
  <script>
    $(document).foundation();
  </script>
  <script>
    $(function(){
        $("#whoami").typed({
          strings: ["whoami<br> I am <strong>Tianyu Cheng</strong> from Zhejiang, China. I am an undergraduate student in the <strong>University of Texas at Austin</strong>. I major in <strong>computer science</strong> and <strong>mathematics</strong>. I am interested in many areas of computer science, and I am currently working on <strong>J2EE/SSH</strong>, <strong>Python/Django</strong> for web applications, <strong>mobile development with Android SDK</strong>,and <strong>OpenGL</strong> for computer graphics. Apart from coding, I also take interest in music and art."],
            typeSpeed: 0
        });
    });
</script>
  </body>
</html>
